<div class="container-fluid pt-3">
  <form class="post-form">

    <div class="mb-3 mx-auto" style="width: 80%">
      <label for="title" class="form-label">Post Title</label>
      <input type="input" class="form-control" id="title" placeholder="Title" />
    </div>

    <div class="mb-3 mx-auto" style="width: 80%">
      <label for="content" class="form-label">Post Content</label>
      <textarea class="form-control" id="content" rows="5"></textarea>
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary" id="newPost">Post</button>
    </div>
  </form>
</div>