<div class="container-fluid my-5">

  <div class="card mx-auto" style="width: 80%">
    <div class="card-body">
      <h4 class="post-title">Post title</h4>
      <h5 class="post-author d-flex justify-content-end"> Post author </h5>
      <p class="post-content">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>

  <div class="card mx-auto my-3" style="width: 60%">
    <div class="card-body">
      <h6 class="comment-author">Comment author</h6>
      <p class="comment-comment">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  
</div>