<div class="container-fluid text-center">

  <div class="card mx-auto my-5 pt-3" style="width: 60%">
    <h4>SIGN UP:</h4>
    <div class="card-body">
      <form class="signup-form">
        <div class="mb-3">
          <label for="username-signup" class="form-label">Username</label>
          <input type="username" class="form-control mx-auto" id="username-signup" style="width: 80%"/>
        </div>
        <div class="mb-3">
          <label for="email-signup" class="form-label">Email address</label>
          <input type="email" class="form-control mx-auto" id="email-signup" style="width: 80%"/>
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control mx-auto" id="password-signup" style="width: 80%"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>