header {
  padding: 15px;
  background-color: #ffecb7;
  color: rgb(71, 101, 132);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

body {
  line-height: 1.5;
  background-color: #fff7e0;
  color:  #0E2239;
}

h1 {
  font-size: 250%;
  color: rgb(44, 72, 123);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #9ec1a3 !important;
}

h4 {
  background-color: #9ec1a3 !important;
  padding: 5px;
  border-radius: 5px;
}

.card-body {
  background-color: #cfe0c3;
  border-radius: 5px;
  border: solid 2px #83a488;
  box-shadow: 5px 5px 3px #f0c245;
}

.pleaseColour {
  background-color: #fff7e0;
  border: solid 2px #fff7e0;
}

.login-h4 {
  border: solid 2px #83a488;
}

a {
  text-decoration: none !important; 
  color: #0E2239;
}

.btn-link {
  text-decoration: none !important; 
  color: #0E2239;
}
a:hover {
  text-decoration: none !important; 
  color: #7F9C96;
}

.btn-link:hover {
  text-decoration: none !important; 
  color: #7F9C96;
}

.btn-secondary {
  background-color: #ffecb7;
  color: #0e2239;
}

.btn-secondary:hover {
  background-color: #f0c245;
}
